.tags{
	margin: 20px;
}

.greySection{
	background-color: #ecf0f1;
}

.profileHeader{
	height: 150px;
	margin-top: 70px;
}
.noDisplay{
	display: none;
}
.noSideMargin{
	margin-left: 0px;
	margin-right: 0px;
}
.noMargin{
	margin: 0px;
}
.margin20{
	margin: 10%!important;
}

.noPadding{
	padding: 0px;
}
.centered{
	text-align: center;
}

/*PROFILE*/
.profileContainer{
	margin: 0px;
	width: 100%;
}
/*.icons-share2{
	margin-right: 250%;
}*/
/*PHOTO CARD*/

/*PHOTO VIEW*/
.photoView{
	margin-top:10%;
}
.fb-share-button{
	height: 20px;
}
/*CARD*/
.photoCard {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  height:100%;
  width: 100%;
  z-index: 1;;
  -o-background-size: cover;
}
.imgCard{
  width: 80%;
  margin-top: 10%;
  border-radius: 3px;
  transition: box-shadow .75s;
}
.photoIcons{
	position: absolute;
	top:0;
	left:0;
  overflow: hidden;
  background-color: transparent;
  border-radius: 3px; 
  height:80%;
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  z-index: 4;
  color: white;
}
.blackBackground{
	position: absolute;
	top:0;
	left:0;
  overflow: hidden;
  background-color: black;
  border-radius: 3px; 
  height:80%;
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  z-index: 3;
  opacity:0.4;
}

.icon{
	font-size: 20px;
	color:white;
	opacity: 1;
}
.iconLink{
	color: green;
	background-color: transparent;
	border: 0px;
}

@media (max-width: 767px) { /*Para monitores xs*/
.brand-logo{
	margin-left: 0!important;
}
/*.icons-share2{
	margin-right: 20%;
}*/
.marginCard{
	margin:5px!important;
	width: 80px!important;
}
.wCard{
	display: inline!important;
}

.photoIcons{ 
  height:80%;
  width: 80%;
  margin-top: 10%;
  margin-left: 10%; 
}
.blackBackground{
  height:100%;
  width: 100%;
}
.icon{
	font-size: 15px;
}
.navLogo{
	height:45px!important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.profileHeader{
	height: 50px!important;
	padding-top: 20px!important;
}



}
@media (min-width: 768px) and (max-width: 991px) { /*Para monitores sm*/
	.brand-logo{
	margin-left: 0!important;
}

}
@media (min-width: 1600px){ /*Para monitores de resolucion muy grande*/
	

}

@media (min-width: 992px) and (max-width: 1200px){ /*Para monitores md*/
	/*.icons-share2{margin-right: 20%!important;}*/
}

/* portrait */
@media screen and (max-width: 767px) and (orientation:portrait) { /*para celulares vertical*/
    
}
/* landscape */
@media screen and (max-width: 767px) and (orientation:landscape) {  /*para celulares horizontal*/


}

@media screen and (max-width: 991px) and (orientation:landscape){

  }

/*INSTAGRAM ICONS*/

@font-face {
	font-family: 'instagram';
	src:url('../font/instagram.eot?avp5sj');
	src:url('../font/instagram.eot?#iefixavp5sj') format('embedded-opentype'),
		url('../font/instagram.ttf?avp5sj') format('truetype'),
		url('../font/instagram.woff?avp5sj') format('woff'),
		url('../font/instagram.svg?avp5sj#instagram') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icons-"], [class*=" icons-"] {
	font-family: 'instagram';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icons-bubble:before {
	content: "\e96b";
}
.icons-download2:before {
	content: "\e9c5";
}
.icons-heart:before {
	content: "\e9da";
}
.icons-share2:before {
	content: "\ea82";
}

.navLogo{
/*	margin-top: 6px;*/
/*	margin-left: -30%;*/
	height:56px;
}

