.greySection{
	background-color: #ecf0f1;
}
.height100{
	min-height: 100%!important;
	height: auto;
}
.width100{
	width: 100%!important;
}
.width80{
	
}
.profileHeader{
	height: 150px;
}
.noDisplay{
	display: none;
}
.noSideMargin{
	margin-left: 0px;
	margin-right: 0px;
}
margin20{
	margin-left: 20px;
	margin-right: 20px;	
}
.noMargin{
	margin: 0px;
}

.noPadding{
	padding: 0px;
}
.centered{
	text-align: center;
}

/*PROFILE*/
.profileContainer{
	margin: 0px;
}
/*PHOTO CARD*/
.marginCard{
	margin:25px!important;
	width: 280px!important;
}
/*PHOTO VIEW*/
.photoView{
	margin-top:10%;
}
.wCard{
	width: 280px!important;
}
/*CARD*/
.photoCard {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow .75s;
  border-radius: 3px; 
  height:250px;
  width: 250px;
  z-index: 1;
}
.imgCard{
	height: 250px;
  width: 250px;
}
.photoIcons{
	position: absolute;
	top:0;
	left:0;
  overflow: hidden;
  background-color: transparent;
  border-radius: 3px; 
  height:250px;
  width: 250px;
  z-index: 4;
  color: white;
}
.blackBackground{
	position: absolute;
	top:0;
	left:0;
  overflow: hidden;
  background-color: black;
  border-radius: 3px; 
  height:250px;
  width: 250px;
  z-index: 3;
  opacity:0.4;
}
.iconsDiv{
	margin-left: 20%;
	margin-right: 20%;
}
.icon{
	font-size: 20px;
	color:white;
	opacity: 1;
}
.iconLink{
	color: green;
	background-color: transparent;
	border: 0px;
}

@media (max-width: 767px) { /*Para monitores xs*/
.photoCard { 
  height:70px;
  width: 70px;
}
.marginCard{
	margin:5px!important;
	width: 80px!important;
}
.wCard{
	width: 80px!important;
}
.imgCard{
	height: 70px;
  width: 70px;
}
.photoIcons{ 
  height:70px;
  width: 70px;
}
.blackBackground{
  height:70px;
  width: 70px;
}
.icon{
	font-size: 15px;
}
.navLogo{
	height:45px!important;
}
.profileHeader{
	height: 50px!important;
}
.profileContainer{
	margin: 30px;
	margin-right: 30px;
}
.width80{
	width: 80%!important;	
}

}
@media (min-width: 768px) and (max-width: 991px) { /*Para monitores sm*/


}
@media (min-width: 1600px){ /*Para monitores de resolucion muy grande*/
	

}

@media (min-width: 992px) and (max-width: 1200px){ /*Para monitores md*/

}

/* portrait */
@media screen and (max-width: 767px) and (orientation:portrait) { /*para celulares vertical*/
    
}
/* landscape */
@media screen and (max-width: 767px) and (orientation:landscape) {  /*para celulares horizontal*/


}

@media screen and (max-width: 991px) and (orientation:landscape){

  }

/*INSTAGRAM ICONS*/

@font-face {
	font-family: 'instagram';
	src:url('../font/instagram.eot?avp5sj');
	src:url('../font/instagram.eot?#iefixavp5sj') format('embedded-opentype'),
		url('../font/instagram.ttf?avp5sj') format('truetype'),
		url('../font/instagram.woff?avp5sj') format('woff'),
		url('../font/instagram.svg?avp5sj#instagram') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icons-"], [class*=" icons-"] {
	font-family: 'instagram';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icons-bubble:before {
	content: "\e96b";
}
.icons-download2:before {
	content: "\e9c5";
}
.icons-heart:before {
	content: "\e9da";
}
.icons-share2:before {
	content: "\ea82";
}

.navLogo{
	margin-top: 6px;
	margin-left: 20px;
	height:56px;
}
